@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
  Disabled temporarily
  html {
    display:none;
  }

  html[data-themed='yes'] {
    display:block;
  } */

  html {
    scroll-behavior: smooth;
  }

  body,
  div#root,
  div#root main {
    @apply min-h-screen;
    @apply h-auto;
  }
}
