@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*
  Disabled temporarily
  html {
    display:none;
  }

  html[data-themed='yes'] {
    display:block;
  } */

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-screen;
    @apply h-auto;
  }

  main {
    @apply top-[-4.5rem];
    @apply relative;
  }

  .navigation-bar h1 {
    text-shadow: 3px 4px 3px rgba(0, 0, 0, 1);
  }

  .navigation-bar.is-sticky h1 {
    text-shadow: 3px 4px 3px rgba(0, 0, 0, 0);
  }

  .dark body {
    @apply bg-gradient-to-t;
    @apply bg-slate-900;
    @apply from-black;
    @apply to-slate-800;
    @apply text-white;
    @apply transition-all;
    @apply duration-300;
  }

  button.theme-toggle {
    @apply text-yellow-500;
  }

  .dark button.theme-toggle {
    @apply text-cyan-500;
  }

  /** table of contents stying **/

  button.collapse-toggle svg {
    @apply transition-all;
    @apply duration-300;
    @apply ease-in-out;
  }

  .table-of-contents > nav {
    @apply transition-all;
    @apply h-auto;
    @apply max-h-0;
    @apply duration-300;
    @apply ease-in-out;
    @apply overflow-hidden;
  }

  .table-of-contents.expanded > nav {
    @apply max-h-[100rem];
  }

  .table-of-contents > h2 > button.collapse-toggle:hover svg {
    @apply rotate-90;
  }

  .table-of-contents.expanded > h2 > button.collapse-toggle svg {
    @apply rotate-90;
  }

  .table-of-contents.expanded > h2 > button.collapse-toggle:hover svg {
    @apply rotate-0;
  }

  .table-of-contents > nav {
    @apply px-4;
    @apply py-0;
  }

  .table-of-contents.expanded > nav {
    @apply py-4;
  }

  .table-of-contents > nav > ol {
    counter: navcounter;
  }

  .table-of-contents > nav > ol > li {
    counter-increment: navcounter;
  }

  .table-of-contents > nav > ol > li:hover {
    @apply cursor-pointer;
  }

  .table-of-contents > nav > ol > li::before {
    content: counter(navcounter) '.';
    padding-right: 0.5rem;
  }

  .table-of-contents > nav > ol > li:hover {
  }

  .table-of-contents > nav > ol > li:hover button.collapse-toggle svg {
    @apply rotate-90;
  }

  .table-of-contents > nav > ol > li > nav {
    @apply transition-all;
    @apply ease-in-out;
    @apply duration-300;
    @apply max-h-0;
    @apply h-auto;
    @apply overflow-hidden;
  }

  .table-of-contents > nav > ol > li.expanded > nav {
    @apply max-h-[50rem];
  }

  .table-of-contents > nav > ol > li.expanded button.collapse-toggle svg {
    @apply rotate-90;
  }

  .table-of-contents > nav > ol > li.expanded:hover button.collapse-toggle svg {
    @apply rotate-0;
  }

  .table-of-contents > nav > ol > li > nav > ol {
    @apply pl-4;
    @apply ml-4;
    border-left: solid 0.0625rem rgba(0, 0, 0, 0.75);
    counter-reset: subnavcounter;
  }

  .dark .table-of-contents > nav > ol > li > nav > ol {
    border-left: solid 0.0625rem rgba(255, 255, 255, 0.75);
  }

  .table-of-contents > nav > ol > li > nav > ol > li {
    counter-increment: subnavcounter;
  }

  .table-of-contents > nav > ol > li > nav > ol > li::before {
    content: counter(navcounter) '.' counter(subnavcounter);
    padding-right: 0.5rem;
  }

  .guide article section picture {
    @apply inline-block;
    @apply mx-0;
    @apply mb-12;
    @apply mt-0;

    @apply max-w-full;
    @apply w-auto;
    @apply h-auto;
    @apply align-top;
    @apply p-4;
  }

  .guide article section picture img {
    @apply inline-block;
    @apply m-0;

    @apply max-w-full;
    @apply w-auto;
    @apply h-auto;
  }

  .youtube-player {
    @apply mx-0;
    @apply my-4;
    @apply max-w-full;

    @apply w-[30rem];
    @apply lg:w-[40rem];

    @apply h-[20rem];
    @apply lg:h-[30rem];
  }

  .guide article {
    @apply my-8;
  }

  .guide article:first-child {
    @apply mt-0;
  }

  .guide article section {
    @apply my-8;
  }

  .guide-content a {
    word-wrap: break-word;
    word-break: break-all;
  }

  /** off canvas enhancement */
  .offcanvas .offcanvas-content {
    @apply flex;
    @apply flex-col;
  }

  .offcanvas .offcanvas-content header {
    @apply w-full;
    @apply basis-auto;
    @apply flex-shrink-0;
    @apply flex-grow-0;
  }

  .offcanvas .offcanvas-content main {
    @apply w-full;
    @apply flex-auto;
  }

  /** toggle **/
  .toggle {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
  }

  .toggle label {
    position: relative;
    top: 0;
    left: 0;
    width: 6rem;
    height: 2.25rem;
  }

  .toggle label.toggle-label {
    width: auto;
    height: auto;
    margin-bottom: 0.5rem;
  }

  .toggle input {
    width: 0;
    height: 0;
    opacity: 0;
  }

  .toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1rem;

    @apply bg-gray-500;
  }

  .toggle .slider:before {
    position: absolute;
    content: ' ';
    width: 1.75rem;
    height: 1.75rem;
    transform: translate(0.25rem, 0.25rem);
    transition: transform 250ms ease;
    border-radius: 1rem;
    @apply bg-white;
  }

  .toggle input:checked + .slider {
    @apply bg-cyan-600;
  }

  .toggle input:checked + .slider:before {
    transform: translate(4rem, 0.25rem);
  }

  .field.error label {
    @apply text-red-700 !important;
  }
  .field.error input {
    @apply outline-red-700 !important;
    @apply text-red-700 !important;
    @apply outline-2;
  }
  .field.error input:focus {
    @apply outline-red-700 !important;
    @apply text-red-700 !important;
    @apply outline-2;
    outline-style: solid;
    box-shadow: none;
    border: none;
  }
}
