# Host Resolutions
NEXT_PUBLIC_HOST_FRONTEND="https://websitehost"
NEXT_PUBLIC_HOST_ACCOUNTS="https://accounthost"
NEXT_PUBLIC_HOST_ASSETS="https://assethost"
NEXT_PUBLIC_HOST_FEED="https://feedhost"
NEXT_PUBLIC_HOST_DESTINY="https://destinyhost"

# Access Keys
NEXT_PUBLIC_FEED_ACCESS_KEY="service-feedpublickey"
FEED_PRIVATE_KEY="service-feedprivatekey"

#Global
#NODE_TLS_REJECT_UNAUTHORIZED="0"